*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.image-con{
    padding: 2.2rem 3rem;
    width: 100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);;
}

.nav{
    height: 2.5rem;
}

section{
    padding: 2rem;
}

.hero__image-con{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.hero__image-con img{
    max-width: 40rem;
    width: 100%;
}

.hero__title{
    font-size: 3.6rem;
}

.hero__description{
    font-size: 1.6rem;
    width: 32rem;
}

/* styling product session */
.products-con{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex: 0 0  auto;
    overflow-x: scroll;
}

.product{
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    width: 17rem;
}

.product__image{
    width: 100%;
    /* max-height: 50%; */
    /* width: 100%; */
}

.product__detail{
    max-width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product__star{
    height: 1.2rem;
    width: 1.2rem;
}

.dot{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #918E9B;
    display: inline-block;
}

.product__rating, .product__description{
    color: #222222;
}

.product__quantity, .product__country{
    color: #918E9B;
}
.product__price{
    font-weight: 600;
}

.person{
    font-weight: 300;
}

.label{
    background-color: white;
    border-radius: 5px;
    width: 6rem;
    padding: 0.5rem ;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 6px;
    left: 6px;

}