*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.image-con{
    padding: 2.2rem 3rem;
    width: 100%;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);;
}

.nav{
    height: 2.5rem;
}

.hero__image-con{
    display: flex;
    margin-top: 3rem;
    height: 23rem;
    justify-content: center;
    gap: 1.3rem;
    position: relative;
}

.hero__inner-image-con{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* position: absolute; */
}

.hero__inner-image-con img{

    transform: scale(1.2);
}

.one{
    margin-top:2rem;
}

.three{
    margin-top:3rem;
}

.five{
    margin-top: 2.2rem;
}

.hero__title{
    font-size: 3.6rem;
    padding-left: 3rem;
}

.hero__description{
    padding-left: 3rem;
    font-size: 1.6rem;
    width: 32rem;
}
